@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan");

#homepage {
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 600px;
  width: 1000px;
}

#box1 {
  align-items: center;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 400px;
}

#otter {
  margin: auto;
  height: 450px;
  width: 350px;
  border-radius: 100px;
}

#title {
  line-height: 60px;
  font-family: 'Baloo Chettan';
  font-size: 500%;
  text-align: center;
}

#info {
  text-align: center;
}

#clicky {
  width: 300px;
  height: 80px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 120%;
  margin-top: 20px;
  transition: all .2s ease-in-out;
}

#clicky:hover {
  transform: scale(1.05);
}
