.topnav{
  height: 40px;
  font-size:30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  min-width:300px;
}
a{
  margin: 0;
  text-decoration: none;
  float: left;
  color: black;
  text-align: center;

}
.oddertext{
  padding-left: 2px;
}
.image{
  height: 60px;
  length: 60px;
}
