
//css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

.topnav{
  height: 40px;
  font-size:30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  min-width:300px;
}
a{
  margin: 0;
  text-decoration: none;
  float: left;
  color: black;
  text-align: center;

}
.oddertext{
  padding-left: 2px;
}
.image{
  height: 60px;
  length: 60px;
}
