.topnav{
  height: 40px;
  font-size:30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  min-width:300px;
}
a{
  text-decoration: none;
  color: black;
}
.image{
  height: 60px;
  length: 60px;
}
