
#ninecup {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 600px;
  background-color: whites;
  border-radius: 1%;
  border: 1px solid black;
  margin: auto;
  margin-top: 40px;
}

#dorms {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100px;
  width: 300px;
  margin-top: 70px;
  margin-right: 250px;
}
.textbox{
  height: 150px;
  margin: 12px;
}

#submit {
  margin-left:90px;
  height: 30px;
}

#submit:hover {
  transform: scale(1.04);
}

#link1 {
  color: #0b3b89;
  float: left;
}

#things {
  margin-top: 16px;
  color: black;
}

#selectdiv {
  align-items: center;
  margin-top: 20px;
}

#chooser::-ms-expand {
  display: none;
}

#selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 200px;
  height: 30px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}
#request{
  margin: auto;
  flex-direction: row;
}
